@tailwind base;
@tailwind components;
@tailwind utilities;

#landing {
	min-height: 100%;
	font-size: 2.4vw !important;
}

.slogan-bold.h1 {
	font-size: 1.1em;
}

.slogan-bold {
	font-size: 0.9em;
}

p {
	font-size: 0.8em !important;
}

.custom-btn {
	background-color: transparent !important;
	font-size: 2.5vw !important;
	height: 2.2em;
	width: fit-content;
	line-height: 1.3em;
	padding: 0.5em 0.4em;
	border-color: #a5a4c9;
}

#select {
	font-size: 3vw;
	margin-top: 2.5em;
	justify-content: center;
}

/* the most responsive code i got  */
.btn.btn-success {
	font-size: 0.7em;
	font-size: 20px;
	line-height: 1em;
	height: 2em;
	margin: 0.6em;
	padding: 0.5em;
	border-radius: 8%;
}

form {
	font-size: 0.8em;
	color: #fff;
	padding: 0.5em;
	border: 1px solid blue;
}

.title {
	font-size: 1.2em;
	width: fit-content;
	margin: 1em auto 0.5em;
	display: block;
}

textarea {
	font-size: 0.8em;
	display: block;
	height: 7em;
	width: 13em;
	margin-top: 0.7em;
	padding: 0.2em;
	border: 0.5px solid grey;
	border-radius: 7%;
	color: black;
}

#profile-box {
	font-size: 0.6em !important;
	margin-left: 0.2em;
}

@media screen and (max-width: 520px) {
	#landing {
		font-size: 3.7vw !important;
	}

	.btn.btn-success {
		font-size: 0.8em;
		line-height: 1em;
		height: 2.5em;
		margin: 0.6em;
		padding: 0.5em;
		border-radius: 8%;
	}

	.custom-btn {
		font-size: 3vw !important;
		height: 3em;
		line-height: 2em;
		padding: 0.5em 0.4em;
		border-color: #a5a4c9;
		margin-left: 1em;
	}
}
